@import '../../styles/main.scss';

.skills {
  background-color: $primary-color;
  padding: 2rem 0; // Add vertical padding for better spacing

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 0 1rem; // Add horizontal padding for smaller screens
  }
  
  .skill-card {
    background-color: lighten($primary-color, 5%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease; // Add transition for hover effect

    &:hover {
      transform: translateY(-5px); // Slight lift effect on hover
    }

    h3 {
      margin-bottom: 1rem;
      font-size: 1.5rem; // Ensure consistent font size
    }
    
    .skill-percentage {
      height: 10px;
      background-color: $secondary-color;
      border-radius: 5px;
      margin-bottom: 0.5rem;
      
      .percentage-bar {
        height: 100%;
        background-color: $accent-color;
        border-radius: 5px;
        transition: width 1s ease-in-out;
      }
    }
  }

  // Media Queries for Responsiveness
  @media (max-width: 768px) {
    &-grid {
      gap: 1.5rem; // Reduce gap for smaller screens
    }

    .skill-card {
      padding: 1.5rem; // Reduce padding for smaller screens

      h3 {
        font-size: 1.25rem; // Adjust heading size for smaller screens
      }
    }
  }

  @media (max-width: 480px) {
    &-grid {
      gap: 1rem; // Further reduce gap for very small screens
    }

    .skill-card {
      padding: 1rem; // Further reduce padding for very small screens

      h3 {
        font-size: 1rem; // Further adjust heading size
      }
    }
  }
}