@import '../../styles/main.scss';

.contact {
  background-color: $primary-color;
  
  &-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
  }
  
  &-form {
    .form-group {
      margin-bottom: 1.5rem;
      
      input,
      textarea {
        width: 100%;
        padding: 1rem;
        background-color: lighten($primary-color, 5%);
        border: 1px solid $secondary-color;
        border-radius: 5px;
        color: $text-color;
        font-size: 1rem;
        font-family: 'Bricolage Grotesque';
        
        &:focus {
          outline: none;
          border-color: $accent-color;
        }
      }
      
      textarea {
        min-height: 150px;
        resize: vertical;
      }
    }
    
    button {
      width: 100%;
      padding: 1rem; 
      background-color: #e6e6e6;
      color: black;
      border: none; 
      border-radius: 5px; 
      font-size: 1rem;
      cursor: pointer;
      font-family: 'Bricolage Grotesque';

      &:hover {
        background-color: #a7a7a7
      }
    }
  }

  @media (max-width: 768px) {
    &-content {
      padding: 1rem;
    }
    
    .form-group {
      input,
      textarea {
        font-size: 0.9rem; 
      }
    }
  }

  @media (max-width: 480px) {
    &-content {
      padding: 0.5rem; 
    }
    
    .form-group {
      input,
      textarea {
        font-size: 0.8rem; 
      }
    }
  }
}
