@import '../../styles/main.scss';

.works {
  background-color: lighten($primary-color, 5%);
  padding: 2rem 0; // Add vertical padding for better spacing

  &-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 0 1rem; // Add horizontal padding for smaller screens
  }
  
  .work-card {
    background-color: $primary-color;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    
    &:hover {
      transform: translateY(-5px);
    }
    
    .work-image {
      height: 200px;
      overflow: hidden;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    
    .work-info {
      padding: 1.5rem;
      
      h3 {
        margin-bottom: 0.5rem;
        font-size: 1.5rem; // Ensure consistent font size
      }
      
      p {
        margin-bottom: 1rem;
        color: darken($text-color, 20%);
      }
    }
  }

  // Media Queries for Responsiveness
  @media (max-width: 768px) {
    &-grid {
      gap: 1.5rem; // Reduce gap for smaller screens
    }

    .work-card {
      .work-info {
        padding: 1rem; // Reduce padding for smaller screens

        h3 {
          font-size: 1.25rem; // Adjust heading size for smaller screens
        }

        p {
          font-size: 0.9rem; // Adjust paragraph size for smaller screens
        }
      }
    }
  }

  @media (max-width: 480px) {
    &-grid {
      gap: 1rem; // Further reduce gap for very small screens
    }

    .work-card {
      .work-info {
        padding: 0.5rem; // Further reduce padding for very small screens

        h3 {
          font-size: 1rem; // Further adjust heading size
        }

        p {
          font-size: 0.8rem; // Further adjust paragraph size
        }
      }
    }
  }
}