@import '../../styles/main.scss';

.footer {
  background-color: darken($primary-color, 5%);
  padding: 3rem 0;
  
  &-content {
    text-align: center;
    padding: 0 1rem;
  }
  
  &-info {
    margin-bottom: 1.5rem;
    
    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
    
    p {
      color: darken($text-color, 20%);
      font-size: 1rem; 
    }
  }
  
  &-social {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
    
    a {
      color: $text-color;
      font-size: 1.5rem;
      transition: color 0.3s ease;
      
      &:hover {
        color: #a7a7a7;
      }
    }
  }
  
  &-copyright {
    color: darken($text-color, 30%);
    font-size: 0.9rem;
  }

  @media (max-width: 768px) {
    &-info {
      h3 {
        font-size: 1.3rem; 
      }
      
      p {
        font-size: 0.9rem;
      }
    }

    &-social {
      align-items: center;
      gap: 1rem;
    }

    &-copyright {
      font-size: 0.8rem; 
    }
  }

  @media (max-width: 480px) {
    padding: 2rem 0; 

    &-info {
      h3 {
        font-size: 1.2rem; 
      }
      
      p {
        font-size: 0.85rem; 
      }
    }

    &-social {
      a {
        font-size: 1.3rem; 
      }
    }

    &-copyright {
      font-size: 0.75rem; 
    }
  }
}
